.nav {

    border-bottom: 4px solid black;
    width: full;
    height: 3rem;
    color: black;

    .nav-ul {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        justify-content: center;
        gap: 2rem;
        color: black;
        flex-wrap: wrap;
    }

    .nav-ul li {
        font-weight: 600;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        padding: 0.2rem .5rem;
        border: 0.5px solid black;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menuIcon {
        display: none;
    }

}

.nav-ul li:hover {
    background-color: rgb(193, 193, 193);


}

@media (max-width: 768px) {
    .nav {
        /* background-color: red; */
        height: 2.5rem;

        .nav-ul {
            gap: 1rem;
            margin-top: 0.8rem;

        }

        .nav-ul li {
            /* font-weight: 500; */
            font-size: 1rem;
        }
    }

    .menuIcon {
        display: none;
    }

}

@media (max-width: 400px) {
    .nav {
        height: 2rem;
        border-bottom: 3px solid black;

        .nav-ul {
            display: none;
        }

        .menuIcon {
            display: flex;
            font-size: 2rem;
            font-weight: 300;
            cursor: pointer;

        }

        .menuIcon::after {
            transform: rotate('90deg');
        }
    }

}