* {
  margin: 0;
  padding: 0;


}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 1rem auto;
  padding: 1rem;
  width: 75vw;
  height: full;

  p {
    font-weight: 600;
    font-size: medium;

  }
}

.article-list {
  columns: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 5px;

  h3 {
    margin-bottom: 0.5rem;
  }
}